*~
*.pyc
*.db
*.sqlite
.idea
*.log
.cache
.coverage
.coverage.*
htmlcov
doc/_build
doc/_static
ictv/plugins/embed/static
ictv/plugins/embed/static/*.html
ictv/plugins/rss_legacy/static
ictv/plugins/rss/cache.json
